body {
    text-align : center;
    background-color : rgb(233,215,207);
    margin : 50px;
}

p, h1{
    font-family: 'Hurricane', Monotype-cursiva;
    color : rgb(245,25,89);
}

a {
    color : rgb(233,90,7);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#loving-souls{
    color : rgb(67, 34, 234);
    font-weight : bold;
    font-size : 52px;
}

img {
    height : 200px;
    width : 200px;
    border-radius : 50%;
}


